<!-- Author: Pieter Lewyllie, pilewyll@cisco.com -->
<!DOCTYPE html>
<html>
{% if title %}
<title>{{ title }}</title>
{% else %}
<title>YANG W3C Regex Expression Validator</title>
{% endif %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<link href="static/css/sticky-footer.css" rel="stylesheet" media="screen">
<link href="static/css/general.css" rel="stylesheet" media="screen">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script>
    // Add script

</script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h3>{% if title %}{{ title }}{% else %}YANG W3C Regex Expression Validator{% endif %}
                <div style="float:right">
                    <a href="/yangre" class="btn btn-primary" role="button" id="yang_btn">YANG Validator</a>
                    <a href="/yangre/w3cgrep" class="btn btn-primary" role="button" id="w3c_btn">W3C Validator</a>
                    <a href="/yangre/about" class="btn btn-primary" role="button" id="about_btn">About</a>
                </div>
            </h3>
        </div>
    </div>
    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <p class="text-muted footer-text"> YANG W3C Regex Expression Validator GUI </p>
            <a class="footer-image" href="https://github.com/plewyllie/yangre-gui">
                <img src="static/img/GitHub-Mark-32px.png">
            </a>
        </div>
    </footer>
    <!-- Using yangre in the backend. From https://github.com/CESNET/libyang -->
</body>

</html>
